/*------------
    RESET
------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*------------
    COMMON
------------*/
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: inherit;
    padding-right: 15px;
}
/*------------
    HEADER
------------*/
header {
    background-color: #FF6900;
    padding: calc(89.88px / 2);
    margin-bottom: 50px;
}
header .col {
    width: calc(100% / 3);
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #FF6900;
}
nav ul {
    align-items: center;
}
.logo {
    width: 200px;
    padding: 20px 0;
}
nav div :nth-child(2) {
    text-align: center;
}
nav div ul:nth-of-type(2) {
    justify-content: flex-end;
}

/*------------
    MAIN
------------*/
main article.col {
    width: calc(100% / 3 - 40px);
    margin: 20px;
}
/* Posizionamento tag */
article :first-child {
    position: relative;
}
article div:first-child span, article div:first-child i {
    position: absolute;
}
.heart {
    top: 20px;
    right: 0px;
    padding: 10px;
    background-color: white;
}
article div:first-child span {
    padding: 5px 10px;
}
.discount-tag {
    background-color: red;
}
.sustain-tag, .sustain-tag-solo {    
    background-color: green;
}
.discount-tag, .sustain-tag-solo {
    bottom: 30px;
    left: 0px;
}
.sustain-tag {
    bottom: 30px;
    left: 60px;
}
/* Formattazione immagini e hover */
article div img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.img-hover {
    display: none;
}
article:hover img:first-child {
    display: none;
}
article:hover .img-hover {
    display: block;
}
.heart:hover {
    color: red;
}
/*------------
    FOOTER
------------*/
footer {
    background-color: #1a1a1a;
    padding: 30px 0;
}
footer .row{
    justify-content: space-between;
    align-items: center;
}
footer h3, footer h4 {
    margin-bottom: 10px;
}
footer h4 {
    text-align: center;
}
/*------------
    TYPO
------------*/
body {
    font-family: 'Roboto', sans-serif;
}
nav {
    font-size: 20px;
    font-weight: 500;
}
header, footer {
    color: white;
}
/* colore tag e testo sotto immagine */
article div:first-child span {
    color: white;
}
small {
    color: gray;
    font-size: 16px;
}
article h3 {
    text-transform: uppercase;
}
.final-price {
    color: red;
    font-weight: 700;
}
.before-discount {
    text-decoration: line-through;
}
footer i {
    font-size: 20px;
}